@mixin background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin colorbg {
    background-color: $color-secundario;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}